@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #111;
    color: #00ff99;
    font-family:'Montserrat', Times, serif;
}
.nav-link{
    color: #00ff99 !important;
    font-weight: bold;
}
.nav-link:hover {
    color: #ff00ff !important;
    transition: color 0.3s ease;
}

h1, h2 {
    color: #ff00ff;
    text-align: center;
}

#h1 {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 33px;
}

h3 {
    color: #ff00ff;
}

.header-section {
    background: linear-gradient(180deg, #27005D, #111);
    padding: 20px;
}

.paragraph-text {
    font-size: 18px;
    color: #00ff99;
}

section {
    background-color: #27005D;
    border-radius: 8px;
    box-shadow: 0 2px 15px #ff00ff;
}

img {
    border-radius: 10px;
}

footer{
    color: #00ff99;
    background: linear-gradient(360deg, #00366c, #111);
}

footer a {
    color: #00ff99;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ff00ff;
    transition: color 0.3s ease;
}



